* {
    font-family: 'Symbols Nerd Font Mono', 'JetBrainsMono Nerd Font', 'FontAwesome', 'sans-serif';
    font-size: 12px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    margin: 0;
    color: #cdd6f4;
    /* min-height: 45px; */
}

window#waybar {
    background-color: #11111b;
    border-radius: 8px;
}

#custom-arch,
#workspaces {
    background-color: #11111b;
    color: #cdd6f4;
}

#custom-arch {
    font-size: 16px;
    margin-left: 4px;
    background-color: #11111b;
    color: #cdd6f4;
}

#workspaces button {
    background: #11111b;
    color: #151026;
}

#workspaces button active {
    color: #cdd6f4;
}

#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-powermenu {
    background-color: #11111b;
    color: #cdd6f4;
    margin-right: 16px;
    font-size: 14px;
    min-height: 10px;
}

#clock {
    margin-right: 0;
    font-weight: 700;
}
